.bgvideo {
  height: 70vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect {
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 2;
  color: rgba(0, 0, 0, 0.575);
}

.bgvideo video {
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.video-text {
  color: rgb(255, 255, 255);
  z-index: 2;
}
